*{
    padding: 0;
    margin: 0
}
body{
    background: url(../images/pow-star.png)repeat left top;
    background-attachment: fixed
}
.glyphicon.glyphicon-phone {
 
}
.phone .glyphicon.glyphicon-phone {
  float: left;
  margin: 0 6px 0 10px;
}
.phone {
  background-color: #337ab7;
  color: #f2f2f2;
  display: inline-block;
  left: 3px;
  padding: 10px 4px 6px;
  position: absolute;
  top: 0;
}
.phone .glyphicon.glyphicon-phone {
  float: left;
  font-size: 18px;
  margin-left: 0;
}
.phone > p {
  float: left;
}
.ques, .home, .link, .user {
  background-color: #337ab7;
  color: #f2f2f2;
  float: right;
  margin-top: -9px;
  margin-left: 7px;
  padding: 13px 2px;
  text-align: center;
  width: 108px;
}
.ques > a, .home > a, .link > a, .user > a {
  color: #fff;
  text-decoration: none;
}
.ques > span, .home > span, .link > span, .user > span {
  margin-right: 5px;
}
.header {
  background-color: #6495ed;
  height: 47px;
  padding: 10px 0;
  position: relative;
}
.navbar {
  background-color: #6495ed;
  margin-bottom: 0;
  border-radius: 0;
  border: 0
}
.manu .nav.navbar-nav a {
  color: #fff;
}
.navbrand img {
  height: 100px;
  margin-right: 40px;
  width: 100px;
}
.manu .nav.navbar-nav {
  padding-top: 21px;
}
.manu .dropdown {
  float: left;
  margin-top: 7px;
}
.manu form {
  margin-top: 30px;
}
.maincontent {
  border: 1px solid #ccc;
    background-color: #f8f8f3;
}
.ask {
  background-color: #549bd8;
  border-radius: 3px;
  box-shadow: 2px 2px 12px 2px #fff;
  display: inline;
  padding: 5px 15px;
}
.ask a {
  color: #f2f2f2;
  text-transform: capitalize;
  text-decoration: none;
}
.maincontent h2 {
  color: #054c89;
  font-family: gabriola;
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 40px;
  padding-bottom: 10px;
  position: relative;
  text-shadow: 0 2px 1px #0000ff, 0 0 2px #ff0000;
  text-transform: capitalize;
}
.maincontent h2::after {
  border-bottom: 3px solid #337ab7;
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 315px;
}
.sidebar {
  border: 1px solid gray;
  padding: 10px;
  background-color: #f8f8f3;
  position: relative;
}
.text-center.sid_txt {
  background-color: #F8F8F3;
  border: 1px solid gray;
  margin-top: 0;
  text-transform: capitalize;
  padding-bottom: 5px;
  color: #054c89;
  font-family: gabriola;
  font-size: 46px;
  font-weight: 600;
}
.sidebar p {
  color: #054c89;
  font-family: gabriola;
  font-size: 24px;
  text-transform: capitalize;
}
.arrows {
  content: "";
  position: absolute;
  right: 19px;
  top: 55%;
  transform: rotate(90deg);
}
.glyphicon.glyphicon-chevron-left.next,.glyphicon.glyphicon-chevron-right.prev {
  cursor: pointer;
}
#fot_top .container {
  background-color: darkcyan;
  margin-top: 10px;
}
#fot_top ul {
  list-style: outside none none;
  padding: 10px 0;
  text-align: center;
  font-family: gabriola;
  font-size: 18px;
  font-weight: bold;
}
#fot_top a {
  color: #fff;
}
.footer{
    background-color: cornflowerblue;
    height: 50px;
    padding: 10px;
}
.footer.text-center > p {
  color: #cfcfcf;
  font-family: monotype corsiva;
  font-size: 28px;
  font-weight: bold;
}
/*style for login page*/
.form-horizontal {
  padding: 0 30px;
}
.req {
  border-bottom: 2px solid;
  display: inline-block;
  font-family: gabriola;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  text-shadow: 0 0 3px #0000ff;
  text-transform: capitalize;
  word-spacing: 4px;
  margin-bottom: 28px;
}
/*style for signup page*/
.maincontent {
  background-color: #f8f8f3;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 20px;
  margin-left: -15px;
}
.maincontent h4 {
  font-family: gabriola;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 1px #0000ff;
  text-transform: capitalize;
}
.maincontent table {
  margin-top: 15px;
}
.maincontent a {
  background-color: #337ab7;
  color: #fff;
  padding: 5px 30px;
  text-decoration: none;
  border-radius: 4px;
}
.maincontent table {
    margin: 30px auto;
}
/*style for massege page*/
.msg h3 {
  background-color: #337ab7;
  border-radius: 4px;
  color: #f2f2f2;
  margin-bottom: 3px;
  padding: 3px 10px;
  text-transform: capitalize;
}
.msg a {
  background-color: #337ab7;
  border-radius: 4px;
  color: #f2f2f2;
  padding: 3px 15px;
  text-decoration: none;
}
.msg .glyphicon.glyphicon-hand-right {
  font-size: 17px;
  font-weight: bold;
  margin-right: 8px;
  color: #0f5693;
}
/*style for table*/
.maincontent table a {
  background-color: transparent;
  color: black;
  padding: 0 16px;
}
.maincontent th {
  padding: 5px;
  text-align: center;
}
/*style for question*/
.maincontent > p {
  background-color: #337ab7;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-family: gabriola;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
  padding: 2px 6px;
}
.glyphicon.glyphicon-triangle-bottom {
  background-color: #337ab7;
  border-radius: 4px;
  color: #fff;
  padding: 6px;
}